* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}





.container {
    width: 100vw;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 1px;
    background: transparent;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1),
        -3px -5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}

form input.equal {
    width: 111px;
    margin-top: 10px;
}